.popupcontainer {
    height: max-content;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    border: #db3979;
    border-style: solid;
    border-width: 2px;
    align-self: center;
}

#dollar {
position: relative;
top: 2%;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 70px;
color: #67a839;
}

#txtcontainer {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10%;
}

.popup {
    height: max-content;
    width: 30%;
    background-color: #ffffff;
    border-radius: 20px;
    border: #db3979;
    border-style: solid;
    border-width: 2px;
    align-self: center;

    visibility: hidden;
    
  }
  
  .popup.show {
    visibility: visible; /* Show the popup */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the popup in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  .popuporiginal{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 1rem;
  }