.header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ffffff;
  padding: 40px;
  text-align: center;
  background-color: #5c8eb9;
  font-size: 60px;
  margin: 0;
}

.registrationInput {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 20px;
}

.registrationInput label {
  font-weight: bold;
  font-size: 30px;
  margin-left: 5px;
}

.registrationInput input {
  font-size: 30px;
  height: fit-content;
  color: #4e4e4e;
  border-radius: 5px;
  padding: 5px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 20px;
}

.loginInput label {
  font-weight: bold;
  font-size: 30px;
  margin-left: 5px;
}

.loginInput input {
  font-size: 30px;
  height: fit-content;
  color: #4e4e4e;
  border-radius: 5px;
  padding: 5px;
}
