<%- include('Header') %>
        <div id = 'container'>
            <form id = 'mainmenu' method ='post' enctype='multipart/form-data'>
                <div id ='header'>
                    <p>Visits</p>
                </div>
                <div id = 'form_body'>
                    LOGIN

                </div>
            </form>
        </div>
    </body>
</html>